@font-face {
    font-family: myFirstFont;
    src: url(font/DINAlternate-Bold.woff);
  }
*{
    font-family:myFirstFont ;
}
.left{
    position: absolute;
    left: 0;
    z-index: -1;
}
body.background{
    
    background-image:url("img/Background.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.footer{
    /* margin-top:10px; */
    background-image: url("img/layerfooter.png");
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 30px; */
    /* margin-bottom: 0; */
    text-align: center;
    /* display: flex; */
    padding:20px;
}
.footer img{
    width: 300px;
}
.header-logo{
    display: flex;
    background-image: url("img/Layerupper.png");
    justify-content: center;
    
    height: 100px;
    padding: 30px;
    /* text-align: center; */
}
.logo{
    height: 50px;
    background-blend-mode: screen;
}
.headerlink{
text-decoration: none;
}
.pad{
    /* height: 50px; */
    padding: 0px 6% 0px 6%;
}
.headerhight{
    height: 40px;
}
.headerhover:hover{
    background-color:#E50A70;
}
/* 
test
*/
.borderright{
    /* height: 30px; */
    /* height: 30px !important; */
    border-right:1px solid white;
}
.c{
   font-size: 1.1em;
   margin: 0 auto;
   width: 100%;
}
.nav-link{
    color: white !important;
    height: 40px;
}
.nav-link:hover{
    background-color:#E50A70;
}
.center{
    text-align: center;
}
.nav-item{
    height:40px !important
}
hr{
    background-color: white;
    height: 1px;
}
*{
    color: white;
}
.imgcarosal{
    /* display: inline-block; */
    /* margin:1px; */
    /* width: 25%; */
    object-fit: cover;
    width:155px;
    padding:0 !important;
    height: 165px;

}
.ipadpro{
    height: 180px !important;
}
.laptop{
    height: 145px !important;
}
.carousel-inner{
text-align: center;
}
.navbar{
    text-align: center;
}
.carousel-control-next {
    right: 7px;
    }
.computerultra{
    height: 250px !important;
}
.imgcarosaldiv{
/* margin: 0 auto; */
margin-right: 8%;
font-size: 0;
padding: 0px 10px 10px 80px;
}
.titlelogo{
    width: auto;
    font-style: DINAlternate-Bold;
    height: 53px;
}
.upperlayer{
    display: none;
}
p{
    margin-bottom: -1rem;
}

/* @media only screen and (min-width: 1550px) {
    .imgcarosal{
        height: 150px !important;
            width: 100px !important;  
    }
} */


.navbar-light .navbar-toggler {
    margin:auto;
}

@media only screen and (max-width: 767px) {
    .navbar-collapse {
        padding-left: 38% !important;
       /* padding-right:50% !important;  */
   
   }
   .arts{
       margin-left: -10% !important;
       max-width: 60% !important;
   }
   .nav-item:hover{
    background-color:#E50A70;
   }
   .contact{
       max-width: 40% !important;
   }
/* #navbarcontainer{
    display: none;
    /* visibility: hidden;} */
    
.upperlayer{
    display: inline-block;
    position: absolute;
    padding-top: 30px;
    padding-left: 5px;
}
/* .upperlayer{
    background-image: url('img/menuicon.png');
} */

}
@media only screen and (max-width: 670px) {
.fontsmall{
    font-size: 0.9em;
}
.maintitle{
    font-size: 0.8em;
}
.headerhight{
    height: 38px;
}
.pad{
    padding-top: 3px;
}

}
@media only screen and (max-width: 639px) {
.titlelogo{
    font-size:1.7em;
}
}


@media only screen and (max-width: 576px) {
    .titlelogo{
        font-size: 1.7em;
    }
    /* .header-logo{
        height: 120px;
    } */
    .carosal-item{
        max-width: 70% !important;
    }
    }
    @media only screen and (max-width: 500px) {
        .titlelogo{
            font-size:1.4em;
        }
        .header-logo{
            height: 90px;
        }
    }
    @media only screen and (max-width: 492px) {
    
            .arts{
                margin-left: -15% !important;
            
                    max-width: 70% !important;
               }
                .headerhover{
                   width: 60px;
               } 
    
    }
    @media only screen and (max-width: 468px) {
        .pad{
            padding-right:4% ;
            padding-left:4%;
            padding-top:0 ;
        }
    }

    @media only screen and (max-width: 458px) {
/* .nav-item{
    width: 104px !important;
} */
.c1{
    max-width:100px !important;
    /* margin-left: -9% !important; */
}
/* .f1{
    max-width:104px !important;
    ma
} */
   .arts{
    margin-left: -15% !important;

        max-width: 70% !important;
    }
   

    @media only screen and (max-width: 460px) {
        .titlelogo{
            font-size:1.4em;
        }
        .upperlayer{
            padding-top: 20px;

        }
        .navbar-collapse{
            padding-left: 38% !important;
        }
    }
    @media only screen and (max-width: 433px) {
        .arts{
            /* margin-left: -15% !important; */
        
                max-width: 80% !important;
            }
            .c1{
                /* max-width:104px !important; */
                margin-left: -3% !important;
            }
    }
    @media only screen and (max-width: 405px) {
        .headerhight{
            height: 35px;
        }
    }

    @media only screen and (max-width: 390px) {
    .arts{
        max-width: 86% !important;
        margin-left:-17% !important ;
    }
    .c{
        margin-left:-3% !important ;
    }
    }
    @media only screen and (max-width: 374px) {
        .titlelogo{
            font-size: 1.2em;
        }
    }
    @media only screen and (max-width: 364px) {
.c{
    margin-left: -3% !important;
}
.pad{
    padding-left:2% ;
    padding-right:2% ;
}
.arts{
    max-width: 100% !important;
    margin-left: -24% !important;
}
.fontsmall{
    font-size:0.7em ;
    }
    .headerhight{
        height: 27px;
        /* padding-bottom:5px; */
        /* padding-top: 0; */
    }
    .borderright{
        height: 25px;
        
    }
    .maintitle{
        font-size:0.6em;
    }
    }    

@media only screen and (max-width: 350px) {

        .titlelogo{
            font-size: 1.2em;
        }
        .navbar-collapse{
            padding-left: 35% !important;
        }
        .c{
            margin-left:0 !important ;
        }
        .header-logo{
            height: 80px;
        }
        .borderright{
            height: 22px;
        }
    }

    @media only screen and (max-width: 336px) {
        .arts{
            margin-left: -23% !important;
            max-width: 100% !important;
        }
        .fontsmall{
            font-size: 0.7em;
        }
    }
    @media only screen and (max-width: 325px) {
        .c1{
            margin-left: -8% !important;
        }
    }
    @media only screen and (max-width: 300px) {
.navbar-collapse{
    padding-left: 32% !important;
}
    
}













/* navigation */
/* The side navigation menu */

  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* @media only screen and (max-width: 320px) {
    .container{
        /* height: 30px !important; */
    
        /* margin-left: 5%;} */




        /* ----------------------comenting ---------------->>> */
        /* @media only screen and (max-width: 320px) {
            .titlelogo{
                font-size: 1.5em !important;
            }
            .imgcarosal{
                height: 150px !important;
            }

        }

        @media only screen and (max-width: 400px) {
            .footer img{
                width: 100%;
            }
            
        }

@media only screen and (max-width: 425px) {
    .imgcarosal{
        width: 50%;
        height: 50%;
        /* margin-bottom: 5px; */
        /* margin-left: 5%; */
    
    /* .carousel-inner{
        margin-left:7%;
    } */
    /* .imgcarosaldiv{
        padding: 10px;
  }
  .hid1{
    display: none;
}
} */
@media only screen and (max-width: 442px) {
    .footer img{
        width: 90%;
    }

}
.carousel-control-prev{

    left: 7px !important
}
.carousel-inner{
    padding-left: 90px !;
}
        /* @media only screen and (max-width: 461px) {

            .titlelogo{
                font-size: 1.5em;
                 }

             .header-logo{
                 height: 110px !important;
             }
             .imgcarosal{
    }            } */
        
    /* @media only screen and (max-width: 549px) {
    .titlelogo{
        font-size: 2em;
    }
    .hid3{
        display: none;
    }
    .imgcarosal{
        width: 33% !important;
    }
    .header-logo{
        height: 100px;
    }
        } */
        /* @media only screen and (max-width: 580px) {
            .carousel-control-next{
                right: -3px;
            }
        
        }
        @media only screen and (max-width: 665px) {
            .carousel-control-next{
                right: 0px;
            }
        
        } */
        /* @media only screen and (max-width: 730px) {
        .footer{
            bottom: 0;
        }
        
        } */
        /* @media only screen and (max-height: 654px) {

            .footer{
                bottom: auto;
            }
        } */

        /* @media only screen and (max-width: 767px) {
            .imgcarosal{
            
                height: 180px;
            }   
            .imgcarosaldiv{
                margin-right: 14%;
        }
        .header-logo{
            height: 100px;
        }
        .navbar-expand-md{
            display: none;
        }
            } */
    /* @media only screen and (max-width: 991px) {
        .imgcarosal{
            width: 25%;
            height: 98wpx;
        }  
        .header-logo{
            height: 100px;
        }
        .imgcarosaldiv{
            margin-right: 11%;
    }
    .header-logo{
        height: 100px;
    }
    .hid{display: none;}
        } */
    /* @media only screen and (min-width: 1100px) {
        .imgcarosal{
            width: 16%;
        }   
        .imgcarosaldiv{
            margin-right: 7%;
    }
    .header-logo{
        height: 100px;
    }
        } */