@font-face {
    font-family: myFirstFont;
    src: url(font/DINAlternate-Bold.woff);
  }
*{
    font-family:myFirstFont ;
}
.left{
    position: absolute;
    left: 0;
    z-index: -1;
}
body.background{
    
    background-image:url("img/Background.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.footer{
    background-image: url("img/layerfooter.png");
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    padding:20px;
}
.footer img{
    width: 300px;
}
.header-logo{
    display: flex;
    background-image: url("img/Layerupper.png");
    justify-content: center;
    
    height: 100px;
    padding: 30px;
}
.logo{
    height: 50px;
    background-blend-mode: screen;
}
.headerlink{
text-decoration: none;
}
.pad{
    padding: 0px 6% 0px 6%;
}
.headerhight{
    height: 40px;
}
.headerhover:hover{
    background-color:#E50A70;
}
/* 
test
*/
.borderright{

    border-right:1px solid white;
}
.c{
   font-size: 1.1em;
   margin: 0 auto;
   width: 100%;
}
.nav-link{
    color: white !important;
    height: 40px;
}
.nav-link:hover{
    background-color:#E50A70;
}
.center{
    text-align: center;
}
.nav-item{
    height:40px !important
}
hr{
    background-color: white;
    height: 1px;
}
*{
    color: white;
}
.imgcarosal{
 
    object-fit: cover;
    width:155px;
    padding:0 !important;
    height: 165px;

}
.carousel-control-next, .carousel-control-prev {
    width: 0% !important;
}
.carousel-inner{
text-align: center;
}
.navbar{
    text-align: center;
}
.carousel-control-next {
    right: 7px;
    }
.imgcarosaldiv{
margin-right: 8%;
font-size: 0;
padding: 0px 10px 10px 80px;
}
.titlelogo{
    width: auto;
    font-style: DINAlternate-Bold;
    height: 53px;
}
.upperlayer{
    display: none;
}
p{
    margin-bottom: -1rem;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  #myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    height: 90%;
    max-width: 700px;
  }

/* Add Animation */
.modal-content{  
    -webkit-animation-name:zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .carousel-control-next, .carousel-control-prev {

        width: 2% !important;
        }
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }


.navbar-light .navbar-toggler {
    margin:auto;
}

@media only screen and (max-width: 767px) {
    .navbar-collapse {
        padding-left: 38% !important;
   
   }
   .nav-item:hover{
    background-color:#E50A70;
   }
   .contact{
       max-width: 40% !important;
   }

}
@media only screen and (max-width: 670px) {
.fontsmall{
    font-size: 0.9em;
}
.maintitle{
    font-size: 0.8em;
}
.headerhight{
    height: 38px;
}
.pad{
    padding-top: 3px;
}

}
@media only screen and (max-width: 658px) {
.carousel-control-next, .carousel-control-prev {

width: 10% !important;
}

.titlelogo{
    font-size:1.7em;
    padding-top: 9px;
}

}
@media only screen and (max-width: 639px) {

}


@media only screen and (max-width: 576px) {
    .titlelogo{
        font-size: 1.7em;
    }

    .carosal-item{
        max-width: 70% !important;
    }
    }
    @media only screen and (max-width: 500px) {
        .titlelogo{
            font-size:1.4em;
        }
        .header-logo{
            height: 90px;
        }
    }
    @media only screen and (max-width: 468px) {
        .pad{
            padding-right:4% ;
            padding-left:4%;
            padding-top:0 ;
        }
    }

    @media only screen and (max-width: 458px) {

.c1{
    max-width:100px !important;
}
   

    @media only screen and (max-width: 460px) {
        .titlelogo{
            font-size:1.4em;
        }
        .navbar-collapse{
            padding-left: 38% !important;
        }
    }
    @media only screen and (max-width: 433px) {

            .c1{
          
                margin-left: -3% !important;
            }
    }
    @media only screen and (max-width: 405px) {
        .headerhight{
            height: 35px;
        }
    }

    @media only screen and (max-width: 390px) {
    .c{
        margin-left:-3% !important ;
    }
    }
    @media only screen and (max-width: 374px) {
        .titlelogo{
            font-size: 1.2em;
        }
    }
    @media only screen and (max-width: 364px) {
.c{
    margin-left: -3% !important;
}
.pad{
    padding-left:2% ;
    padding-right:2% ;
}
.fontsmall{
    font-size:0.7em ;
    }
    .headerhight{
        height: 27px;
    }
    .borderright{
        height: 25px;
        
    }
    .maintitle{
        font-size:0.6em;
    }
    }    

@media only screen and (max-width: 350px) {

        .titlelogo{
            font-size: 1.2em;
            padding-top: 0px;
        }
        .logo{
            padding-bottom: 23px;
        }
        .navbar-collapse{
            padding-left: 35% !important;
        }
        .c{
            margin-left:0 !important ;
        }
        .header-logo{
            height: 70px;
        }
        .borderright{
            height: 22px;
        }
    }

    @media only screen and (max-width: 336px) {
        .fontsmall{
            font-size: 0.7em;
        }
    }
    @media only screen and (max-width: 325px) {
        .c1{
            margin-left: -8% !important;
        }
    }
    @media only screen and (max-width: 300px) {
.navbar-collapse{
    padding-left: 32% !important;
}
    
}

@media only screen and (max-width: 442px) {
    .footer img{
        width: 90%;
    }

}
.carousel-control-prev{

    left: 7px !important
}
.carousel-inner{
    padding-left: 90px !;
}
    }